<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rbc.rbcaccountswidget" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <receiver android:name=".widget.NewAppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="rbc.rbcaccountswidget.ACTION_DATA_RECEIVED" />
                <action android:name="rbc.rbcaccountswidget.ACTION_DATA_INCOMING" />
                <action android:name="rbc.rbcaccountswidget.ACTION_NETWORK_ERROR" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <service
            android:name=".widget.NewAppWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name=".widget.NewAppWidgetUpdateService" />

        <activity
            android:name=".activities.AccountSettings"
            android:label="@string/title_activity_account_settings"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
