

    <div ng-controller="BalanceCtrl as bc">
        <div class="jumbotron">
            <h2>Mobile Balance</h2>
            <p class="pull-right">All you real time balances in a glance...</p>
        </div>

        <div>
            <div class="form-group">
                <h3>
                    Account
                    <a ng-href="/#/balances/create" class="btn btn-primary pull-right" id="btn_balance_create">Add Balance</a>
                </h3>
                <hr>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Account...">
                <hr>
            </div>


            <table id="balance_list" class="table table-striped">
                <thead>
                <tr>
                    <th>Acount</th>
                    <th>Balance</th>
                    <th>Balance Difference</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="bal in bc.balances | filter:searchText">
                    <td>
                        {{ bal.account }}
                    </td>
                    <td>
                        {{ bal.balance }}
                    </td>
                    <td>
                        {{ bal.balanceDiff }}
                    </td>
                    <td>
                        {{ bal.time }}
                    </td>
                    <td>
                        <a ng-href="/#/balances/edit/{{bal.account}}" class="btn btn-success pull-right" id="btn_balance_update">Edit Balance</a>
                    </td>
                    <td>
                        <a ng-href="/#/balances/delete/{{bal.account}}" class="btn btn-danger pull-right" id="btn_balance_delete">[X]</a>
                    </td>
                </tr>
                <tr ng-hide="bc.balances.length">
                    <td colspan="3">
                        <p class="text-center">No Accounts Found</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>
                Debug
            </h3>
            <hr>
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ bc.balances | json }}</pre>
                </accordion-group>
            </accordion>
        </div>

    </div>
